.buttonSair {
    border-radius: 50px;
    background-color: #050505;
    color: white;
    border: 1px solid black;
    padding: 10px 15px;
    font-size: 5px;
    margin: 4px 2px;
    cursor: pointer;
    text-decoration: none;
    display: grid;
    place-content: center; 
    position: fixed; 
    top: 30px; 
    left: 450px; 
    font-size: 15px;
}

