.buttonSalvar {
    border-radius: 45px;
    background-color: #8692CE;
    color: white;
    border: 1px solid black;
    cursor: pointer;
    text-decoration: none;
    width: 50px;
    height: 20px;
}

.buttonCriar {
    border-radius: 45px;
    background-color: #8692CE;
    color: white;
    border: 1px solid black;
    padding: 30px 80px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    text-decoration: none;
}