.buttonCriar {
    border-radius: 45px;
    background-color: #8692CE;
    color: white;
    border: 1px solid black;
    padding: 30px 80px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 60px; 
    margin-left: 900px; 
    text-decoration: none;
    position:absolute;
}

.buttonVoltar {
    border-radius: 45px;
    background-color: #86CEBD;
    color: white;
    border: 1px solid black;
    padding: 30px 80px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    display: grid;
    place-content: center; 
    position: fixed; 
    top: 140px; 
    right: 380px; 
    text-decoration: none;
}
